:root{
  --brown-900: #C87B4D;
  --brown-800: #F2994A;
  --brown-700: #F5CC6A;
  --brown-600: #F0D3B5;
  --dark-900: #221413;
  --red-900: #9A2E34;
  --green-900: #1C543C;
  --white-100: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
/* HEADER NAV */
header{
  background: linear-gradient(83.1deg, rgba(154, 46, 52, 0) -0.08%, #C87B4D 100%), url("../assets/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: var(--white-100);
}
header nav a.logo-header{
  width: 35px;
  margin: 0 30px;
}
header nav div.nav-links{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-links ul{
  display: flex;
  justify-content: space-between;
}
.nav-links ul li{
  margin-right: 56px;
}
.nav-links ul li a{
  color: var(--white-100);
}
.nav-links input{
  width: 124px;
  height: 40px;
  border-radius: 8px;
  border: 1px white solid;
  background-color: transparent;
  text-align: center;
}
.nav-links input::placeholder{
  color: var(--white-100);
}

/* HEADER MAIN CONTENT */
.header-content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin:0 auto;
}
h1{
  font-size: 45px;
  font-weight: 800;
  line-height: 72px;
  text-align: center;
  color: #F0D3B5;
  margin: 50px 0;
}
.header-content p{
  margin: 30px 0;
  color: var(--white-100);
  line-height: 24px;
  text-align: center;
}
.header-content p em,.header-content p strong{
  color: var(--brown-700);
}

/* HEADER SECTION */
.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.header-section a{
  color: var(--white-100);
  width: 150px;
  height: 40px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin-left: 20px;
}
.header-section a.main-button{
  background-color: var(--brown-800);
  border-radius: 100px;
  border:none;
}
.header-section a.secondary-button{
  background-color: transparent;
  border-radius: 100px;
  border:1px var(--brown-800) solid;
}
.header-section .right-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-section .right-section img{
  margin-right: 8px;
}
.header-section .right-section a {
  display: inline-block;
  line-height: 16px;
  font-weight: 600;
  margin: 10px 0;
  text-align: left;
  width: 100%;
  height: fit-content;
}
.header-section .right-section a img{
  height: 16px;
  margin-left: 15px;
}

/* MAIN */
main{
  padding: 60px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}
main h2{
  font-size: 40px;
  font-weight: 600;
  color: var(--brown-900);
  width: 100%;
}
main p.p-main-title{
  font-size: 16px;
  font-weight: 500;
  color: var(--brown-900);
  margin-top: 8px;
  margin-bottom: 40px;
  width: 100%;
}
main article.proyect-card{
  width: 45%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
article.proyect-card img.project-image{
  width: 100%;
  border-radius: 10px 10px 0 0;
}
section.project-resume{
  padding: 15px;
  width: 100%;
}
section.project-resume h3{
  color: var(--dark-900);
  font-size: 14px;
}
section.project-resume div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  flex-wrap: wrap;
}
section.project-resume p.place, section.project-resume p.date{
  color: var(--dark-900);
  font-size: 14px;
  font-weight: 400;
}
section.project-resume img{
  margin-right: 15px;
}
section.project-resume p.owner{
  font-size: 14px;
  font-weight: 400;
}
section.project-resume button{
  width: 55px;
  height: 25px;
  border-radius: 16px;
  border: none;
  color: var(--white-100);
  font-size: 12px;
  font-weight: 700;
  margin-left: 5px;
}
section.project-resume button.dev{
  background-color: var(--brown-800);
}
section.project-resume button.mvp{
  background-color: var(--dark-900);
}
section.project-resume button.ux-ui{
  background-color: var(--brown-700);
}

/* FOOTER */
footer{
  background-color: var(--brown-900);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  color: var(--white-100);
  font-size: 14px;
}
footer a{
  color: var(--white-100);
}
footer nav,ul{
  display: flex;
  justify-content: space-between;  
  align-items: center;    
}
footer nav{
  width: 100%;
  margin: 30px;
}
footer nav ul li{
  margin-right: 15px;
}
footer ul.sections{
  font-weight: 700;
}
footer p{
  text-align: center;
}
footer p em{
  color: var(--red-900);
  font-size: 20px;
  font-weight: 700;
}